.dashboard_part{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top: 18%;
    height: 100px;
}
.cs_modal{
    /* border:1px solid royalblue; */
    width:500px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    padding:2rem;
    height: 50vh;
    background-color: #bc86cf;
    box-shadow: 1px 1px 3px 1px rgba(199,174,174,0.82);
    border-radius: 10px;
}
input{
    width:400px;
    margin:1rem;
    padding:1rem;
    border: none;
    outline: none;
    padding:2rem ;
    font-size: 20px;
}
.button{
    width:90%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    
}
button{
    width:10rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #deaff0;
    color:#fff
}

#imgbbx{
    width:600px;
    height: 300px;
}

#imgbbx img{
    width: 100%;
    height: 100%;
}

h5{
    color: white;
    font-size: xx-large;
}


a{
    color:#fff
}